.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
    margin-top: 100px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-div-2{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }