<div>
    <br>&nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find" style="position: absolute;top: 75px;">
        Home
        &nbsp;&nbsp; &nbsp;
        <mat-icon>home</mat-icon>
    </button>&nbsp; &nbsp; &nbsp;
    <br><br>

<mat-card>
  <div style="margin-left: 27px; text-align: left; margin-top: 17px;">
    <mat-form-field>
      <mat-select placeholder="Time Range:"  [(ngModel)]="timePeriodSelected" (ngModelChange)="changeTimePeriodSelected($event.value)">
        <mat-option *ngFor="let timePeriod of timePeriods" [value]="timePeriod.id">
          {{timePeriod.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
</mat-card>

<button style="position: absolute;top: 75px;right: 20px;" mat-raised-button  color="primary"
    routerLink="/stations_found">
    <span> Go Back</span>
    &nbsp;&nbsp; &nbsp;
    <mat-icon>keyboard_backspace</mat-icon>
</button>
<h4 style="margin-left: 27px;">{{title}}</h4>
<svg width="1200" height="700" id="svg"></svg>

</div>
